<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NoteSavr</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/notes">Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/notes/new">New Note</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bills">Bills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bills/new">New Bill</a>
        </li>
    </ul>
    </nav>