<%- include('../partials/header') %>

<h1>Chatr</h1>

<form id="new-message">
  <textarea name="username" placeholder="Type your username..."></textarea>
  <textarea name="body" placeholder="Type your message..."></textarea>
  <input type="submit" value='Post Message' />
</form>

<button id="flag-filter">
  Flagged Messages
</button>
<ul id="messages"></ul>

<%- include('../partials/footer') %>
