@import url('reset.css');

.outer-container {

}

.container {
  /* height: 50vh; */
  max-width: 40em;
  background-image: linear-gradient(yellow, green);
  padding-left: 6em;
  padding-right: 6em;
  padding-top: 4em;
  padding-bottom: 4em;
  position: relative;
  overflow: auto;  
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
}

.inner-box:nth-of-type(1n+2) {
  margin-top: 3vh;
}

.list {
  font-size: 2vh;
}

h1 {
  font-size: 7vh;
  font-weight: bold;
}

h3 {
  font-size: 5vh;
  color: white;
}

h4 {
  font-size: 2vh;
  font-weight: bold;
  margin-bottom: 2vh;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 1em;
}