<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
      .input-box {
        display: flex;
        justify-content: space-between;
        width: 30em;
      }
      .results-output {
        text-align: justify; 
        line-height: 1.5;
      }
      .results {
        display: flex;
        flex-direction: column;
        padding-top: 2em;
        width: 30em;
      }
      h2 {
        margin-bottom: 0%;
      }
    </style>
    
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      |
      <a href="/car_status">Car Status</a>
      |
      <a href="/random_person">Random Person</a>
      |
      <a href="/fizz_buzz">Fizz Buzz</a>
    </nav>



      